@{
    ViewData["Title"] = "Admin Dashboard";
}

<h3>Welcome, @ViewBag.Name!</h3>
<hr />
<p>You have access to manage users and documents.</p>

<ul>
    <li><a href="#">Manage Users</a></li>
    <li><a href="#">Manage Documents</a></li>
    <li><a href="#">Reports</a></li>
</ul>
