@{
    ViewData["Title"] = "User Dashboard";
}

<h3>Welcome, @ViewBag.Name!</h3>
<hr />
<p>You can manage your own documents here.</p>

<ul>
    <li><a href="#">My Documents</a></li>
    <li><a href="#">Shared With Me</a></li>
    <li><a href="#">Upload Document</a></li>
</ul>
